html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  color: #76645d;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  background-color: #ffffff;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  list-style-type: none;
  margin: 20px 0px 5px;
}

.nav__item {
  margin: 0px 15px 20px 15px;
}

.nav__link {
  text-decoration: none;
  color: #76645d;
}

.nav__button {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-shadow: inset 0px -10px 20px -5px #C35900;
          box-shadow: inset 0px -10px 20px -5px #C35900;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 2px;
}

.nav__button i {
  margin-left: 5px;
}

.menu__bar {
  height: 60px;
  background-color: #283A97;
  margin-bottom: 5px;
  padding-right: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  color: #ffffff;
  border: 2px solid white;
  padding: 5px;
  height: 40px;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #f2f2f2;
  width: 100%;
  margin-bottom: 5px;
}

.menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #f2f2f2;
  width: 100%;
}

.menu__searchBox {
  height: 28px;
  width: 65%;
  margin-right: 4px;
  border: none;
}

.menu__button {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  -webkit-box-shadow: inset 0px -10px 20px -5px #C35900;
          box-shadow: inset 0px -10px 20px -5px #C35900;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 2px;
}

.menu__button i {
  margin-left: 5px;
}

.menu__options {
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  margin: 10px 0px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90px;
  margin-right: 4px;
  margin-bottom: 4px;
  background-color: #199fd9;
  padding: 10px 0px;
  color: #ffffff;
  cursor: pointer;
}

.menu__item:hover, .menu__item--hover {
  background-color: #283A97;
}

.menu__label {
  margin: 5px 0px 0px;
}

.menu__breadcrumb {
  margin: 25px;
}

.menu__breadcrumb span {
  color: #f08429;
}

.info {
  width: 100%;
}

.info__personal {
  background-color: #199fd9;
  color: #ffffff;
  padding: 15px 10px;
  margin-bottom: 10px;
}

.info__name {
  margin: 0px;
  font-size: 16px;
  font-weight: bold;
}

.info__date {
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
}

.info__date span {
  font-weight: normal;
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
  width: 50%;
}

.info__link {
  font-weight: bold;
  margin: 5px 0px 0px 4px;
  font-size: 11px;
  color: #ffffff;
  text-decoration: none;
}

.info__link span {
  font-weight: normal;
  font-size: 10px;
}

.info__suggestion {
  background-color: #f2f2f2;
  padding: 15px;
}

.info__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.info__question p {
  margin: 0px;
  font-size: 16px;
  color: #44745f;
  font-weight: bold;
}

.info__minimize {
  background-color: #283A97;
  padding: 5px 10px;
  color: #ffffff;
  font-weight: bold;
}

.info__demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  padding: 5px;
}

.info__text {
  width: 150px;
  margin-left: 5px;
}

.info__button {
  width: 70px;
  color: #f08429;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

.footer__list {
  margin: 20px 0px 5px;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  margin: 0px 15px 20px 15px;
}

.footer__link {
  color: #76645d;
  text-decoration: none;
}

.footer__copyright {
  margin: 0px 15px;
}

.footer__copyright a {
  text-decoration: none;
  color: #283A97;
}

@media (min-width: 575px) {
  .wrapper {
    padding: 5px 10px;
  }
  .nav__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav__item {
    margin: 0px 0px 0px 30px;
  }
  .menu__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__logo {
    width: 65%;
    margin-right: 4px;
  }
  .menu__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info__personal, .info__suggestion {
    width: 49%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer {
    padding: 5px 10px;
  }
}

@media (min-width: 960px) {
  .wrapper {
    padding: 5px 20px;
    max-width: 995px;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu {
    width: 69%;
  }
  .info {
    display: block;
    width: 30%;
  }
  .info__personal, .info__suggestion {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .footer {
    padding: 5px 20px;
    max-width: 995px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__list {
    width: 49%;
  }
  .footer__copyright {
    width: 49%;
    margin: 20px 0px 0px;
    text-align: right;
  }
}
/*# sourceMappingURL=ltr.css.map */