//Mixins
@mixin button {
  background-color: orange;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: inset 0px -10px 20px -5px #C35900;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 2px;

  i {
    margin-left: 5px;
  }
}

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}